@import "tailwindcss";
@plugin "daisyui";

/* 🎨 Custom DaisyUI Theme */
@plugin "daisyui/theme" {
  name: "NFT";
  default: false;
  prefersdark: false;
  color-scheme: "dark";

  /* Backgrounds */
  --color-base-100: #151621; /* deeper dark */
  --color-base-200: #0e0f14; /* top background */
  --color-base-300: #323237; /* graphite depth */
  /* --color-other: #323237;  */
  --color-base-content: #ffffff;

  /* Brand palette */
  --color-primary: #4a2cf5; /* Cyber Indigo */
  --color-primary-content: #ffffff;

  --color-secondary: #20f7a7;/* Mint Green */
  --color-secondary-content: #000000;

  /* Accents */
  --color-accent: #c7b8ff; /* Soft Lavender */
  --color-accent-content: #18181b;

  /* Optional Premium Gold */
  --color-warning: #ffd86b;
  --color-warning-content: #18181b;

  /* Feedback */
  --color-success: #20f7a7; /* Mint for success */
  --color-error: #ff4d4f; /* Error red */
  --color-info: #4a2cf5; /* Indigo as info */

  /* Radius + sizing */
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 0.75rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
};
